
div > table {width: 100%; border: 1px solid black; text-align: center; border-top: 1px solid #222;
    border-left: 0;
    border--right: 0;}

div > table > tr:not(:first-child):hover {background-color: #A6B8C4; cursor: pointer; }

div > table > tr > th {border: 1px solid black; background: #ddd}

